<!--
 * @Author: your name
 * @Date: 2021-06-15 21:47:32
 * @LastEditTime: 2021-06-19 12:18:45
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \resources\templates\home.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/css/layui.css">
    <link type="text/css"  rel="stylesheet" href="/css/home.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper-bundle.css">
    <script src="/js/swiper-bundle.js"> </script>
</head>

<body style="overflow-x:hidden;">

<div id="nav">
    <nav-component></nav-component>
</div>

<div class="fixed-bg-home"></div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;text-align:center">
    <legend style="font-weight: bold;">畅销产品</legend>
</fieldset>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div th:each="randomGoods:${randomList}" class="swiper-slide" style="text-align: center;">
            <img class="recommend" th:src="@{/image/{id}(id=${randomGoods.id})}" th:data="${randomGoods.id}"
                 style="width: 100%;height: 540px;; display:table-cell;vertical-align:middle">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
    <div class="swiper-button-next"></div>
    <!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
</div>

<br>
<br>

<div class="mt-tabpage" js-tab="2">
    <div class="mt-tabpage-title">
        <a href="javascript:;" class="mt-tabpage-item mt-tabpage-item-cur">书籍</a>
        <a href="javascript:;" class="mt-tabpage-item">食品</a>
        <a href="javascript:;" class="mt-tabpage-item">电子设备</a>
    </div>
    <div class="mt-tabpage-count">
        <ul class="mt-tabpage-cont__wrap">
            <li class="mt-tabpage-item">
                <div class="slide-content">
                    <div class="box" th:each="book:${booksList}">
                        <div class="a">
                            <div class="imgBox">
                                <img th:src="@{/image/{id}(id=${book.id})}"
                                     style="width:240px; height: 180px;text-align: center;">
                            </div>
                            <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                            <h2 class="title" th:text="${book.name}" style="text-align: center;"></h2>
                            <p style="text-align: center;">
                                <span class="detail" th:text="${#numbers.formatDecimal(book.price, 1, 2)} + '￥'">￥</span>
                            </p>
                            <button class="layui-btn" th:data="${book.id}">查看详情</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mt-tabpage-item">
                <div class="slide-content">
                    <div class="box" th:each="food:${foodList}">
                        <div class="a">
                            <div class="imgBox">
                                <img th:src="@{/image/{id}(id=${food.id})}"
                                     style="width:240px; height: 180px;text-align: center;">
                            </div>
                            <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                            <h2 class="title" th:text="${food.name}" style="text-align: center;"></h2>
                            <p style="text-align: center;">
                                <span class="detail" th:text="${#numbers.formatDecimal(food.price, 1, 2)} + '￥'">￥</span>
                            </p>
                            <button class="layui-btn " th:data="${food.id}">查看详情</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mt-tabpage-item">
                <div class="slide-content">
                    <div class="box" th:each="electronic:${electronicsList}">
                        <div class="a">
                            <!--/*@thymesVar id="electronic" type="Web.Goods"*/-->
                            <div class="imgBox">
                                <img th:src="@{/image/{id}(id=${electronic.id})}"
                                     style="width:240px; height: 180px;text-align: center;">
                            </div>
                            <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                            <h2 class="title" th:text="${electronic.name}" style="text-align: center;"></h2>
                            <p style="text-align: center;">
                                <span class="detail" th:text="${#numbers.formatDecimal(electronic.price, 1, 2)} + '￥'">￥</span>
                            </p>
                            <button class="layui-btn" th:data="${electronic.id}">查看详情</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<script src="/js/layer.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.cookie-1.4.1.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/home.js"></script>
<script src="/js/mt-tabpage.js"></script>

</body>

</html>