<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/css/layui.css">
    <link type="text/css" href="/css/home.css">
</head>
<body>
<div id="nav">
    <nav-component></nav-component>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;text-align:center">
    <legend style="font-weight: bold;">推荐产品</legend>
</fieldset>

<!--滚动窗口-->
<div class="layui-carousel" id="carousel"  style="margin: 0 auto; ">
    <div carousel-item="" >
        <div th:each="randomGoods:${randomList}">
            <a th:text="${randomGoods.id}"></a>
            <img class="recommend" th:src="@{/image/{id}(id=${randomGoods.id})}">
        </div>
    </div>
</div>

<div class="layui-tab " style="width: 100%">

    <ul class="layui-tab-title" style="text-align: center">
        <li class="layui-this " style="font-weight: bold; width:30%;">书籍</li>
        <li class="" style="font-weight: bold;width:30%;">食物</li>
        <li class="" style="font-weight: bold;width:30%;">电子设备</li>
    </ul>
    <div class="layui-tab-content" style="text-align: center">
        <!--书籍-->
        <div class="layui-tab-item layui-show" >
            <div class="showSingleGood" th:each="book:${booksList}">
                <img  th:src="@{/image/{id}(id=${book.id})}" style="width:240px; height: 180px">
                <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                <span th:text="${book.name}"></span>
                <p th:text="${book.price}">￥</p>
                <button  class="layui-btn" th:data="${book.id}">查看详情</button>
            </div>
        </div>

        <!--食物-->
        <div class="layui-tab-item ">
            <div class="showSingleGood" th:each="food:${foodList}">
                <img  th:src="@{/image/{id}(id=${food.id})}"
                      style="width:240px; height: 180px">
                <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                <span th:text="${food.name}"></span>
                <p th:text="${food.price}">￥</p>
                <button class="layui-btn " >查看详情</button>
            </div>
        </div>
        <!--电子产品-->
        <div class="layui-tab-item ">
            <div class="showSingleGood" th:each="electronic:${electronicsList}">
                <!--/*@thymesVar id="electronic" type="Web.Goods"*/-->
                <img  th:src="@{/image/{id}(id=${electronic.id})}"
                      style="width:240px; height: 180px">
                <!--/*@thymesVar id="book" type="Web.Goods"*/-->
                <span th:text="${electronic.name}"></span>
                <p th:text="${electronic.price}">￥</p>
                <button data-mathod="setTop" class="layui-btn">查看详情</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/layer.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery.cookie-1.4.1.min.js"></script>

<script src="/js/base.js"></script>
<script src="/js/home.js"></script>
</body>
</html>